.main-container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 180px;
    margin-bottom: auto;
}

.login-button{
    width: 40px;
}
